<div><%= link_to "Back", admin_brands_url %></div>

<table class="data">
	<tr>
		<th>Brand</th>
		<td><%= @brand.name %></td>
	</tr>
	<tr>
		<th>Active</th>
		<td><%= @brand.active %></td>
	</tr>	
</table>
