@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a img { border: none; }

/* primaries */
/* black */
/* black */
/* black */
/* Greys */
/* a dark grey for the header */
/* header button hover */
/* blues */
/* blue  */
/* */
/* */
/* */
/* */
/* */
/* */
/* reds - oranges */
/* red - orange */
/* a red orange but lighter */
/* yellow-orange */
/* Greens */
/* Replace */
/* */
/* */
/* */
/* */
/* block elements need to be reset */
html, body, p, div, img, h1, h2, h3, h4, dl, dd, dt, form, table, td, tr, form { font-weight: normal; font-family: Arial,'Trebuchet MS',Verdana; color: #666666; font-size: 14px; }

/* Set padding and margin to a single value */
INPUT { background-color: white; color: #666666; border: 1 solid #e7e7e7; font-size: 16px; padding: 3px; font-weight: normal; font-color: black; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

INPUT[type="button"], INPUT[type="submit"] { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin: 0.7em 0.5em 0.7em 0; border-width: 1px; border-style: solid; font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size: 100%; line-height: 130%; font-weight: bold; text-decoration: none; cursor: pointer; width: auto; overflow: visible; padding: 4px 10px 3px 7px; background-color: whiteSmoke; border-color: #EEE #DEDEDE #DEDEDE #EEE; border-style: solid; border-width: 1px; color: #565656; font-weight: bold; line-height: 130%; margin: 0.7em 0.5em 0.7em 0px; padding: 5px 10px 5px 7px; text-decoration: none; }
INPUT[type="button"], INPUT[type="submit"] { *display: inline; }
INPUT[type="button"] img, INPUT[type="submit"] img { margin: 0 3px -3px 0 !important; padding: 0; border: none; width: 16px; height: 16px; float: none; }
INPUT[type="button"][type], INPUT[type="submit"][type] { padding: 4px 10px 4px 7px; line-height: 17px; }
*:first-child + html INPUT[type="button"][type], *:first-child + html INPUT[type="submit"][type] { padding: 4px 10px 3px 7px; }
INPUT[type="button"]:hover, INPUT[type="submit"]:hover { background-color: #DFF4FF; border-color: #D2F1FF #C2E1EF #C2E1EF #D2F1FF; color: #369; }
INPUT[type="button"]:active, INPUT[type="submit"]:active { background-color: #6299C5; border-color: #72A9D5 #6299C5 #6299C5 #72A9D5; color: white; }

A { color: #3ea1bf; }
A:visited { color: #3ea1bf; }
A:focus { color: #3ea1bf; }
A:hover { color: #3ea1bf; }
A:active { color: #3ea1bf; }

IMG { border-style: none; }

/* Global data table */
TABLE.data { border: 1px solid black; }
TABLE.data th { text-align: center; font-weight: bold; }
TABLE.data td, TABLE.data th { padding: 2px; }
TABLE.data td.numeric, TABLE.data th.numeric { text-align: right; }
TABLE.data th, TABLE.data td { border-right: 1px solid #888888; border-bottom: 1px solid #888888; border-left-width: 0px; border-top-width: 0px; }
TABLE.data th:last-child, TABLE.data th.last, TABLE.data td:last-child, TABLE.data td.last { border-right-width: 0px; }
TABLE.data tbody tr:last-child th, TABLE.data tbody tr:last-child td, TABLE.data tbody tr.last th, TABLE.data tbody tr.last td, TABLE.data tfoot tr:last-child th, TABLE.data tfoot tr:last-child td, TABLE.data tfoot tr.last th, TABLE.data tfoot tr.last td { border-bottom-width: 0px; }
TABLE.data thead th { border-bottom: 1px solid black; }
TABLE.data tfoot th, TABLE.data tfoot td { border-top: 1px solid black; }
TABLE.data th:first-child { border-right: 1px solid black; }
TABLE.data th { background-color: white; }
TABLE.data th.even, TABLE.data th:nth-child(2n) { background-color: #dddddd; }
TABLE.data tr.odd td { background-color: #eeeeee; }
TABLE.data tr.odd td.even, TABLE.data tr.odd td:nth-child(2n) { background-color: #cccccc; }
TABLE.data tr.even td { background-color: #eeeeee; }
TABLE.data tr.even td.even, TABLE.data tr.even td:nth-child(2n) { background-color: #cccccc; }
TABLE.data tfoot th, TABLE.data tfoot td { background-color: white; }
TABLE.data tfoot th.even, TABLE.data tfoot th:nth-child(2n), TABLE.data tfoot td.even, TABLE.data tfoot td:nth-child(2n) { background-color: #dddddd; }

.hidden { display: none; }

.clear { clear: both; font-size: 1px; overflow: hidden; }

.center { text-align: center; }

.bold { font-weight: bold; }

.left { float: left; }

.right { float: right; }

#page_header { font-size: 18px; font-weight: bold; margin-bottom: 10px; }

/* Generic notice messages */
#messages { margin: 10px 0; color: #fe4400; }
#messages #notice { color: green; font-size: 18px; }
#messages #error { color: #fe4400; font-size: 18px; }
#messages #js_error { color: #fe4400; }
#messages #js_msg { color: green; font-size: 16px; }
#messages #js_msg IMG { height: 12px; }

#grande_header { font-size: 22px; }

/* ??? */
#fp_pick_icon IMG { height: 40px; width: 40px; }

#fp_check_icon IMG { height: 35px; width: 35px; padding: 0 2px; }

#fp_mail_icon IMG { height: 29px; width: 40px; }

#fp_signup_form { padding: 10px; background-color: #eeeeee; /* changed from 620px width to fit 1024x768 */ width: 580px; min-height: 350px; height: auto !important; height: 350px; border: 1px solid #f6f6f6; margin-left: 185px; }

DIV.form_field { margin-top: 10px; }
DIV.form_field LABEL { font-size: 12px; font-weight: bold; display: block; margin-bottom: 2px; }
DIV.form_field #email_address { font-size: 20px; padding: 3px; width: 300px; }
DIV.form_field #password, DIV.form_field #confirm_password { font-size: 20px; padding: 3px; width: 300px; }
DIV.form_field .remember_me_container { margin-top: 10px; }

IMG.partner_logo { height: 60px; width: 60px; margin-right: 15px; }

SPAN.price_title { /* float the span so we can give it width */ display: inline; float: left; width: 100px; }

/* end */
#signup_products { display: inline; float: left; margin-left: 5px; width: 250px; }

/* brands partial stuff */
#brands .brand_letter { font-weight: bold; font-size: 18px; margin-bottom: 5px; }
#brands .brand_container { margin-bottom: 5px; }

/* end */
/* latest gear alert box style */
#latest_gear_alert_header { font-size: 20px; color: #666666; margin-bottom: 20px; font-weight: bold; text-align: center; margin-top: 10px; }

/* end */
#users_new { background-repeat: repeat-x; background-image: url("/images/bg_repeat_984.jpg"); height: 105%; /* I have no idea why this is happening.. Things don't look right unless this is set to 105 */ }
#users_new #tabs { display: none; margin-bottom: 0px; }
#users_new #common_search_text { display: none; }
#users_new #about { text-align: center; margin: 0 auto; }
#users_new #about_gb { font-size: 22px; font-weight: bold; margin: 15px 0; }
#users_new #products { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; *zoom: 1; margin-top: 20px; }
#users_new #products .product { list-style-image: none; list-style-type: none; margin-left: 0px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; white-space: nowrap; margin-right: 10px; }
#users_new #products .product { *display: inline; }
#users_new #products .product .image { height: 75px; padding: 3px; background-color: white; border: 1px solid #999999; }
#users_new #products .product .name { font-size: 12px; margin: 3px 0; font-weight: bold; }
#users_new #products .product .price { color: #009900; font-weight: bold; font-size: 12px; }
#users_new #bg_img { height: 283px; width: 986px; background-image: url("/images/gb_home_blank_RGB_24.png"); margin-bottom: 10px; padding-top: 10px; }
#users_new #site_intro { margin-bottom: 10px; text-align: center; font-size: 22px; }
#users_new #site_intro H1 { color: white; font-size: 40px; font-weight: bold; margin-top: 30px; }
#users_new #site_intro #brand_name { font-size: 38px; font-weight: bold; margin: 20px 0; }
#users_new #site_intro #start_now { padding: 8px 34px; background-color: #f4ba2e; color: white; border: none; font-size: 26px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; margin: 0; }
#users_new #register { height: 35px; width: 138px; margin: 0 auto; }
#users_new #register:hover { background-image: url("/images/signup_free_hover_btn.gif"); }

/* See http://wiki.recaptcha.net/index.php/How_to_change_reCAPTCHA_colors for styling the captcha */
.recaptchatable .recaptcha_image_cell, #recaptcha_table { background-color: #caedf8 !important; }

#users_signup #recaptcha_container { margin: 10px 0 10px 0; }
#users_signup .unselected { color: #cccccc; }
#users_signup #submit_btns { margin-top: 15px; }
#users_signup #categories A { font-size: 10px; }
#users_signup .step { margin-bottom: 10px; padding: 5px 15px; border-bottom: 1px solid #7cd2ed; background-color: #caedf8; }
#users_signup .step H3 { color: #0079a3; font-size: 16px; font-weight: bold; }
#users_signup #email_address { font-size: 16px; padding: 2px; width: 250px; }
#users_signup DIV.items { margin: 15px 0px; }
#users_signup DIV.items H3 { margin-bottom: 5px; font-size: 14px; color: #505050; }
#users_signup #fb_submit { padding-top: 5px; }
#users_signup .gear_list LABEL { font-size: 12px; }

#users_show { /* Display the item name and a list of values */ }
#users_show H3 { margin-bottom: 10px; border-bottom: 1px solid #999999; font-weight: bold; }
#users_show .section_container { margin-bottom: 20px; }
#users_show .account_status { font-weight: bold; margin-bottom: 15px; padding: 10px; border: 1px dashed #cccccc; text-align: center; }
#users_show #account_status_inactive { color: #fe4400; }
#users_show #preferences { display: inline; float: left; width: 425px; }
#users_show .item_group { margin-bottom: 20px; }
#users_show .item_group .item_title { padding-left: 10px; margin-bottom: 5px; }
#users_show .item_group .clear { margin-bottom: 5px; }
#users_show .item_group .data { margin-bottom: 10px; padding-left: 20px; width: 375px; font-size: 12px; }
#users_show .item_group .items { margin-left: 10px; }
#users_show .item_group SPAN.no_alerts { margin-left: 10px; }
#users_show LI { margin-bottom: 20px; }
#users_show #invite_title { font-size: 34px; margin-bottom: 5px; }
#users_show .title { margin-bottom: 10px; }
#users_show #gift_card_container { margin-bottom: 20px; }
#users_show #gift_card_container P { margin-bottom: 10px; }
#users_show #gift_card_container STRONG { color: orange; }

#account_actions { display: inline; float: left; margin-left: 10px; width: 475px; }

/* end */
/* Lost password */
#users_lost_password #submit_btns { margin-top: 10px; }

#users_signup_complete H2 { margin-top: 15px; font-size: 16px; font-weight: bold; }
#users_signup_complete H3 { margin: 10px 0px 0px 25px; }

/* Email preferences partial styling */
#email_preferences_partial { padding: 10; }
#email_preferences_partial DIV { margin-bottom: 20px; }

/* end */
#users_manage_products DIV.info { margin-bottom: 25px; }
#users_manage_products DIV.section_title { font-size: 18px; font-weight: bold; margin-bottom: 10px; }
#users_manage_products #product_shit { display: none; }
#users_manage_products #products { width: 100%; }

/* end */
#friends_invite_friends { /* Text areas for personal invites */ /* Modal window stuff */ }
#friends_invite_friends H2 { margin: 10px 0 25px; }
#friends_invite_friends H3 { margin-bottom: 10px; font-size: 16px; font-weight: bold; }
#friends_invite_friends #invited_friends { margin-top: 10px; }
#friends_invite_friends P { font-weight: normal; font-size: 12px; margin-bottom: 5px; }
#friends_invite_friends #services { margin-bottom: 5px; padding: 0; }
#friends_invite_friends #services A { text-align: center; text-decoration: none; font-size: 12px; }
#friends_invite_friends #services A:hover { color: #fe4400; }
#friends_invite_friends #services A.selected { color: #666666; text-decoration: none; }
#friends_invite_friends LABEL { display: block; font-size: 10px; font-weight: bold; }
#friends_invite_friends #get_contacts_form TABLE TD { padding: 5px; }
#friends_invite_friends #username, #friends_invite_friends #password { width: 300px; }
#friends_invite_friends #submit { margin-top: 5px; }
#friends_invite_friends INPUT.invite_hidden { padding: 2px; font-weight: bold; margin: 10px 0; }
#friends_invite_friends #friends_status { margin-left: 10px; }
#friends_invite_friends #friends { margin-top: 2px; width: 100%; border-collapse: collapse; border: 1px solid #999999; }
#friends_invite_friends #friends TD { padding: 3px; font-size: 12px; }
#friends_invite_friends #friends .select { width: 10px; }
#friends_invite_friends #friends .name { width: 150px; }
#friends_invite_friends #friends .table-tr-odd { background-color: #cccccc; }
#friends_invite_friends #spinner { height: 10px; }
#friends_invite_friends #friends_data { height: 300px; width: 520px; overflow: auto; }
#friends_invite_friends #loading, #friends_invite_friends #thanks { font-weight: bold; }
#friends_invite_friends .invite_textarea { height: 90px; width: 340px; padding: 5px; }
#friends_invite_friends #manual_invite P { margin-bottom: 5px; }
#friends_invite_friends #manual_invite P H3 { margin-bottom: 10px; border: none; }
#friends_invite_friends #manual_invite P #manual_invite_submit { display: block; margin-top: 10px; }
#friends_invite_friends #multi_select { margin-bottom: 5px; font-size: 12px; }
#friends_invite_friends #contact_select_modal { height: 450px; width: 530px; padding: 5px; background-color: white; -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* FF3.5+ */ -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Saf3.0+, Chrome */ box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Opera 10.5, IE 9.0 */ filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='$color-dark-grey'); /* IE6,IE7 */ -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='$color-dark-grey')"; /* IE8 */ }
#friends_invite_friends #contact_select_modal .model-content { height: 500px; width: 530px; left: 10px; top: 10px; position: absolute; }
#friends_invite_friends #contact_select_modal .button { position: absolute; bottom: 10px; text-indent: 0; outline: none; }
#friends_invite_friends .show_message { display: block; margin: 5px 0; font-size: 12px; }

#users_gear_bin #filter { width: 175px; }
#users_gear_bin #filter H3 { border-bottom: 1px solid #999999; padding-bottom: 2px; margin-bottom: 5px; font-weight: bold; font-size: 12px; }
#users_gear_bin #filter UL { margin-left: 10px; padding: 0; }
#users_gear_bin #filter LI { padding: 3px 0; font-size: 12px; }
#users_gear_bin #data { width: 750px; padding-left: 10px; }
#users_gear_bin H1 { margin-bottom: 15px; }
#users_gear_bin H2 { padding-bottom: 2px; border-bottom: 1px solid #999999; font-weight: bold; }
#users_gear_bin #products_container { padding: 10px 0 0 0; }
#users_gear_bin .fresh { border: 1px solid #fe4400; }
#users_gear_bin .products_row { margin-bottom: 20px; padding-top: 5px; }
#users_gear_bin .product { width: 170px; margin-right: 5px; display: inline; float: left; text-align: center; padding: 5px; }
#users_gear_bin .product .image { background-color: white; margin-bottom: 3px; border: 2px solid #cccccc; text-align: center; padding: 3px; width: 100px; margin-left: auto; margin-right: auto; }
#users_gear_bin .product IMG { height: 75px; width: 75px; }
#users_gear_bin .product .name { font-size: 12px; float: none; height: 35px; }
#users_gear_bin .product .retail { font-size: 12px; color: #999999; margin-bottom: 3px; }
#users_gear_bin .product .sale { font-weight: bold; float: none; font-size: 12px; color: #009900; }
#users_gear_bin .product .discount { font-weight: bold; }
#users_gear_bin .no_matches { padding-left: 10px; }
#users_gear_bin .filter_section { margin-bottom: 15px; }
#users_gear_bin .item_label { margin-left: 3px; width: 130px; }
#users_gear_bin .overflow { overflow: auto; height: 175px; }
#users_gear_bin .toggle { font-size: 12px; }
#users_gear_bin #see_more { font-size: 12px; }

#users_account_preferences P { margin: 10px 0; }
#users_account_preferences .text_field { padding: 5px; font-size: 16px; width: 400px; }
#users_account_preferences TABLE TD { padding: 5px; }
#users_account_preferences .price_field { padding: 3px; font-size: 16px; width: 75px; }
#users_account_preferences #email_day_preferences { margin: 0; padding: 0; }
#users_account_preferences #email_day_preferences LI { display: inline; float: left; margin-right: 10px; }

#users_take_a_breather { text-align: center; }
#users_take_a_breather .welcome_back { border: 1px solid #999999; color: green; padding: 10px; margin-bottom: 15px; }
#users_take_a_breather H2 { margin: 10px 0; }
#users_take_a_breather H3 { margin-bottom: 10px; font-size: 16px; }
#users_take_a_breather #submit_button { margin: 10px 0 0; }

#users_deactivate_account H2 { font-size: 14px; margin-bottom: 10px; }
#users_deactivate_account H3 { font-size: 12px; margin-bottom: 3px; }
#users_deactivate_account .dont_go_container { padding: 10px; border: 1px solid #999999; margin-bottom: 20px; }
#users_deactivate_account .dont_go_container H3 { font-weight: bold; }
#users_deactivate_account #email { width: 250px; }
#users_deactivate_account #email_day_preferences { margin: 0; padding: 0; }
#users_deactivate_account #email_day_preferences LI { display: inline; float: left; margin-right: 10px; }

#users_gearguide H2 { font-size: 14px; margin: 10px 0 20px; }
#users_gearguide .friend_row { margin-bottom: 30px; }
#users_gearguide .friend_container { width: 310px; margin-right: 10px; display: inline; float: left; }
#users_gearguide .friend_container .friend_info { margin-left: 3px; width: 225px; }
#users_gearguide .friend_container .friend_info .name { font-size: 16px; font-weight: bold; margin: 0; }
#users_gearguide .friend_container .friend_info .description { font-size: 12px; margin: 5px 0; }
#users_gearguide .friend_container .friend_info .url { font-size: 12px; }
#users_gearguide .friend_container .friend_image_container { width: 80px; }
#users_gearguide .friend_container .friend_image_container IMG { height: 75px; width: 75px; }

#sessions_new H1 { font-size: 24px; margin-bottom: 10px; padding: 10px; text-align: center; background-color: #caedf8; border-bottom: 1px solid #7cd2ed; color: #0079a3; font-weight: bold; }
#sessions_new #submit_btns { margin-top: 10px; margin-bottom: 10px; }
#sessions_new #submit_btns { margin: 10px 0; }
#sessions_new DIV.login_container { padding: 10px; width: 425px; }
#sessions_new #create_account_btn_container { width: 100%; text-align: center; margin-top: 25px; height: 150px; }
#sessions_new #create_account_btn_container INPUT { margin-top: 5px; width: 100px; }
#sessions_new #create_account_btn_container P { margin-bottom: 20px; font-size: 18px; }

#sessions_create H1 { font-size: 24px; margin-bottom: 10px; padding: 10px; text-align: center; background-color: #caedf8; border-bottom: 1px solid #7cd2ed; color: #0079a3; font-weight: bold; }
#sessions_create #submit_btns { margin-top: 10px; }
#sessions_create DIV.login_container { padding: 10px; width: 425px; }
#sessions_create #create_account_btn_container { width: 100%; text-align: center; margin-top: 25px; height: 150px; }
#sessions_create #create_account_btn_container INPUT { margin-top: 5px; width: 100px; }
#sessions_create #create_account_btn_container P { margin-bottom: 20px; font-size: 18px; }

#misc_invite_terms UL { padding-left: 20px; }
#misc_invite_terms UL LI { list-style-type: disc; }
#misc_invite_terms OL LI { list-style-type: decimal; }
#misc_invite_terms LI { margin-bottom: 10px; padding-left: 5px; }

#misc_about H2 { margin: 10px 0; font-weight: bold; }
#misc_about P { margin: 15px 0; }

#misc_privacy H1 { margin-bottom: 20px; }
#misc_privacy H3 { margin-bottom: 10px; font-weight: bold; }
#misc_privacy UL { margin: 0 0 10px 10px; }
#misc_privacy LI { list-style-type: disc; padding: 5px 0; margin-left: 10px; }
#misc_privacy P { margin-bottom: 10px; }

#misc_faq .faq_q { font-weight: bold; }
#misc_faq .faq_a { margin: 10px 0 20px 10px; }

html, body { height: 100%; }

#root { clear: both; min-height: 100%; height: auto !important; height: 100%; margin-bottom: -125px; }
#root #root_footer { height: 125px; }

#footer { clear: both; position: relative; height: 125px; }

HTML, BODY { background-color: #f6f6f6; background-repeat: repeat-x; background-image: url("/images/bg_repeat_common2.jpg"); }

#fb_multi_friend_selector, #fb_multi_friend_selector_wrapper { background-color: #fe4400; }

STRONG { color: #EB5024; font-weight: bold; }

/* Common elements across the site */
.hidden { visibility: hidden; }

/* Common stuff */
.terms { font-size: 12px; }

.half { width: 50%; }

.orange { font-weight: bold; color: #d0441d; }

/* Box at the top of some of the product pages */
.page_description_header { background-color: #caedf8; border-top: 1px solid #7cd2ed; color: #0079a3; padding: 10px; font-weight: bold; }

#drill_down P { background-color: #d0441d; padding: 5px; display: inline; float: left; margin: 2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#drill_down P .selected { background-color: #fe4400; }
#drill_down P:hover { background-color: #fe4400; cursor: pointer; }
#drill_down H3 { font-size: 12px; font-weight: bold; text-align: left; color: black; padding: 0 0 5px 2px; }
#drill_down A { text-decoration: none; color: white; }

#products_divider { border-top: 1px solid #999999; margin-top: 20px; }

#view_more { text-align: center; width: 60px; display: inline; float: right; margin-top: 15px; font-weight: bold; padding: 3px; background-color: #505050; color: white; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-decoration: none; color: white; }
#view_more:hover { background-color: #cccccc; cursor: pointer; }
#view_more:active { background-color: black; }

DIV.title { color: #666666; margin: 3px 0; }

.input_field { font-size: 30px; color: #666666; }

TABLE.gear_list { margin-left: 0; padding-left: 10px; width: 100%; border-top: 1px solid #505050; }
TABLE.gear_list TD { width: 33%; color: #505050; padding: 8px; font-size: 12px; }
TABLE.gear_list INPUT { margin-right: 5px; }
TABLE.gear_list TR.even { background-color: #eeeeee; }

SPAN.checkbox_select { font-size: 12px; }

/* The style for the signup status section on the signup flow */
#signup_status H3 { color: #272727; font-weight: bold; text-align: left; }
#signup_status DIV.items { margin: 5px 0 25px 0; }
#signup_status DIV.items SPAN { font-weight: bold; background-color: #73e6be; font-size: 12px; color: #0c5238; padding: 3px; display: inline; float: left; margin: 3px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/* See http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ for more footer info */
#root { margin: 0 auto; width: 985px; }

#footer { background-color: #1e1e1e; text-align: center; margin: 0 auto; }
#footer #menu { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; *zoom: 1; padding-top: 10px; }
#footer #menu LI { height: 100px; list-style-image: none; list-style-type: none; margin-left: 0px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; white-space: nowrap; padding: 0 10px; }
#footer #menu LI { *display: inline; }
#footer #menu LI .title { color: #d5f6ff; font-weight: bold; text-align: left; }
#footer #menu .nav_border { border-right: 1px solid #999999; }
#footer TABLE { width: 100%; }
#footer TABLE TD { padding: 4px; color: white; font-size: 12px; }
#footer DIV { text-align: left; }
#footer A { text-decoration: none; color: white; font-size: 10px; color: white; }
#footer .social_network_container { margin-top: 5px; }
#footer .social_network_container A { color: #d7f4ff; }

#header { height: 73px; }
#header #header_content { /* small bar under the header */ height: 71px; border-bottom: 1px solid #515151; margin-top: 22px; }
#header #header_content #logo { margin-left: 5px; display: inline; float: left; }
#header #header_content #logo .logo_image { outline: none; }

#right_nav { display: inline; float: right; vertical-align: bottom; /* The facebook connect button in the header */ }
#right_nav .nav_section { display: inline; float: left; margin-right: 10px; }
#right_nav .nav_button { padding: 28px 0 0; }
#right_nav A { text-decoration: none; background-color: #2c2c2c; padding: 5px 12px; margin-left: 15px; display: inline; float: left; color: #feffef; border: 0; font-weight: bold; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 12px; }
#right_nav A:hover { background-color: #505050; cursor: pointer; }
#right_nav #fb_like { height: 80px; width: 100px; border: none; overflow: hidden; color: white; }
#right_nav #fb_profile_pic { border: 1px solid #666666; }
#right_nav .fb_button { padding: 0; }

#content { background-color: #f6f6f6; min-height: 300; height: auto !important; height: 300; }

#tabs { height: 24px; width: 985px; margin-bottom: 10px; padding-top: 14px; background-color: #e7e7e7; color: #999999; }

/* Style the submit button / cancel partial */
#submit_section { margin-top: 15px; font-size: 12px; }

/* Style the recents product partial */
#recent_products { border: 1px solid #f6f6f6; padding: 5px 5px 5px 5px; width: 350px; }

#recent_product { border: 1px solid #f6f6f6; font-size: 200px; }

.product_image_container { display: inline; float: left; width: 40px; margin-right: 5px; }
.product_image_container .img { height: 40px; width: 40px; }

DIV.product_container { color: #999999; margin-bottom: 25px; width: 295px; display: inline; float: left; }
DIV.product_container .product_name { font-weight: bold; margin-bottom: 5px; }

#product_spinner { width: 100%; text-align: center; margin-top: 25px; }

#no_deals_found { text-align: center; font-weight: bold; }

/* Modal window stuff */
.modal-window { background-color: white; border: 2px solid #999999; -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* FF3.5+ */ -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Saf3.0+, Chrome */ box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Opera 10.5, IE 9.0 */ filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='$color-dark-grey'); /* IE6,IE7 */ -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='$color-dark-grey')"; /* IE8 */ }
.modal-window .modal-content { left: 10px; top: 10px; position: absolute; }
.modal-window .button { position: absolute; bottom: 10px; text-indent: -1000000px; outline: none; }
.modal-window .ok { right: 10px; }
.modal-window .cancel { right: 60px; }

/* Login modal that appears on every page while not logged in */
#login_modal { height: 235px; width: 600px; }
#login_modal H3 { font-size: 14px; font-weight: bold; margin-bottom: 10px; }
#login_modal LABEL { display: block; font-size: 10px; font-weight: bold; margin-bottom: 2px; }
#login_modal .submit { margin: 5px 0; }
#login_modal .email, #login_modal .password { width: 240px; padding: 3px; }
#login_modal .ok { visibility: hidden; }
#login_modal .cancel { right: 10px; text-indent: 0; }
#login_modal #get_started { margin: 15px 0 0 50px; text-align: center; }
#login_modal #get_started .submit { width: 100px; margin-top: 10px; }
#login_modal #rm_container { margin: 5px 0 20px; font-size: 12px; }
