#contests_index #image_container {
	width: 315px;
}

#contests_index #caption_image {
	width: 300px; 
	height: 300px; 
	border: 1px solid #999999; 
	background-color: #CCCCCC;
}

#contests_index #prize_info {
	margin-bottom: 5px;
}

#contests_index #prize_name {
	margin-top: 5px; 
	font-size: 16px; 
	font-weight: bold;
}

#contests_index #prize_image {
	width: 100px; 
	height: 100px;  
	border: 1px solid #999999; 
	background-color: #CCCCCC;
}

#contests_index #prize_table {
	width: 205px; 
	margin-left: 5px;
}

#contests_index #prize_table TH {
	font-weight: bold; 
	width: 85px;
}

#contests_index #prize_table TD, TH {
	font-size: 12px;
}

#contests_index #caption_container {
	margin-left: 10px; 
	width: 625px;
}

#contests_index #enter_caption {
	padding: 8px; 
	font-size: 16px; 
	width: 530px;
}

#contests_index #caption_submit {
	font-weight: bold; 
	font-size: 16px;
	height: 35px;
	width: 70px;
}

#contests_index #user_caption {
	text-align: center;
}

#contests_index #user_caption P {
	font-size: 18px;
	color: #0079A3;
}

#contests_index DIV.caption {
	padding: 5px;
	margin-bottom: 5px;
}

#contests_index DIV.vote_container {
	text-align: center; 
	width: 70px;
	margin-right: 5px;
}

#contests_index DIV.rank {
	font-size: 18px;
}

#contests_index DIV.vote_count {
	font-size: 10px;
}

#contests_index .vote_submit {
	font-size: 12px; 
	font-weight: bold;
	margin-top: 2px;
	width: 52px;
	height: 24px;
}

#contests_index DIV.caption_text {
	font-size: 16px;
	width: 535px;
	margin-top: 10px;
}

#contests_index DIV.caption_created {
	color: orange;
	font-size: 12px;
}

#contests_index DIV.message_box {
	padding: 10px;
	margin: 10px 0px 10px 0px;
	font-size: 18px;
	color: white;
	background-color: #009966;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 15px; 
	text-align: center;
}

#contests_index #no_contests {
	border: 1px solid #999999; 
	text-align: center; 
	padding: 10px;
}

#contests_index HR.caption_divider {
	height: 1px; 
	border-style: none; 
	background-color: #999999; 
	color: #999999; 
	width: 300px;
}

#contests_index SPAN.FBConnectButton_Text_Simple {
	text-decoration: underline;
}

#contests_index DIV.user_voted {
	font-size: 12px;
	color: #009966;
	margin-top: 2px;
	font-weight: bold;
}