/* line 3, ../../app/stylesheets/misc.scss */
#misc_invite_terms UL {
  padding-left: 20px;
}
/* line 6, ../../app/stylesheets/misc.scss */
#misc_invite_terms UL LI {
  list-style-type: disc;
}
/* line 11, ../../app/stylesheets/misc.scss */
#misc_invite_terms OL LI {
  list-style-type: decimal;
}
/* line 15, ../../app/stylesheets/misc.scss */
#misc_invite_terms LI {
  margin-bottom: 10px;
  padding-left: 5px;
}

/* line 23, ../../app/stylesheets/misc.scss */
#misc_about H2 {
  margin: 10px 0;
  font-weight: bold;
}
/* line 28, ../../app/stylesheets/misc.scss */
#misc_about P {
  margin: 15px 0;
}

/* line 34, ../../app/stylesheets/misc.scss */
#misc_privacy H1 {
  margin-bottom: 20px;
}
/* line 38, ../../app/stylesheets/misc.scss */
#misc_privacy H3 {
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 43, ../../app/stylesheets/misc.scss */
#misc_privacy UL {
  margin: 0 0 10px 10px;
}
/* line 47, ../../app/stylesheets/misc.scss */
#misc_privacy LI {
  list-style-type: disc;
  padding: 5px 0;
  margin-left: 10px;
}
/* line 53, ../../app/stylesheets/misc.scss */
#misc_privacy P {
  margin-bottom: 10px;
}

/* line 60, ../../app/stylesheets/misc.scss */
#misc_faq .faq_q {
  font-weight: bold;
}
/* line 64, ../../app/stylesheets/misc.scss */
#misc_faq .faq_a {
  margin: 10px 0 20px 10px;
}
