<div id="categories_container" class="item_container">

	<%= render :partial => "users/grouped_items", 
		:locals => { :items => categories, :selected => selected, :item_type => "categories" } %>
</div>