<h1 id="page_header">Edit Brands</h1>

<h3>
	Gear Burger will monitor all brands by default. If you'd like to restrict your brand list
	click on your preferred brands below
</h3>

<%= form_for :brands, :url => brands_submit_url do |f| %>
	<%= render :partial => "users/submit" %>
	<%= render :partial => "users/brands", :locals => { :brands => @brands, :selected => @selected } %>	
	<%= render :partial => "users/submit" %>
<% end %>