<h1 style="margin: 0 0 15px 0; padding: 0">Lost Password</h1>

<h3 style="margin: 0; padding: 0; font-size: 12px;">Enter your email below and we'll email you a new password</h3>

<%= render :partial => "application/errors" %>		

<%= form_tag lost_password_url, { :id => "lost_password_form"} do %>
	<%= text_field_tag "email", @email, {:id => "email", :maxLength => 100} %>
	 <%= submit_tag "Submit", {:class => "submit"} %>
<% end -%>