<div class = "page_title">Check your email.  Awesomeness is there waiting for you.</div> 

<div class = "title">Click the link we just emailed you to activate your Gear Burger account.  Be sure to check your spam filter and whitelist alerts@gearburger.com.  Visit our <%= link_to "FAQ", faq_url %> for help.</div>