<h1 id="page_header">Check your email.  Awesomeness is there waiting for you.</h1> 

<div class="title">Click the link we just emailed you to activate your Gear Burger account.  Be sure to check your spam filter and whitelist alerts@gearburger.com.  Visit our <%= link_to "FAQ", faq_url %> for help.</div>