<div style="text-align: center; margin-top: 25px;">
  <div style="width: 500px; text-align: left; margin: 0 auto;">
    <p>
      Due to new California State Laws which impose unreasonable burdens on
      e-commerce retailers (the "Amazon Tax"), Gear Burger has been forced
      to shut down.  You can read details about this silly, silly legal change
      <a href="
    http://business.transworld.net/66906/features/amazon-cuts-california-affiliates-after-state-passes-internet-sales-tax/" target="_blank">here</a>.
    </p>
    <p>
     If you live in California, please contact your representatives
     <a href="https://www.votizen.com/veto-the-california-amazon-tax/" target="_blank">here</a> and
     ask them to repeal this ridiculous law so we can keep finding deals for you!
    </p>

    <p style="font-weight: bold;">
      <a href="http://www.twitter.com/gearburger" target="_blank">Gearburger</a>
      - <a href="http://www.twitter.com/zed" target="_blank">Chad</a>
      and <a href="http://www.twitter.com/rwebb" target="_blank">Rob</a>
    </p>

  </div>
</div>

<style>
  P {
    font-size: 20px;
    margin-bottom: 15px;
  }
</style>