@import "global";

@include sticky-footer(125px);

HTML, BODY {
	background-color: $color-wtf4;
	background-repeat: repeat-x;
	background-image: url('/images/bg_repeat_common2.jpg');
}

#fb_multi_friend_selector, #fb_multi_friend_selector_wrapper {
	background-color: $color-red;
}

STRONG {
	color: #EB5024;
	font-weight: bold;
}

/* Common elements across the site */

.hidden {
	visibility: hidden;
}

/* Common stuff */
.terms {
	font-size: $font-size - 2;
}

.half {
	width: 50%;
}

.orange {
	font-weight: bold;
	color: $color-orange;
}

/* Box at the top of some of the product pages */
.page_description_header {
	background-color: $color-wtf10;
	border-top: 1px solid $color-wtf7;
	color: $color-wtf;
	padding: 10px;
	font-weight: bold;
}

#drill_down {

	P {
		background-color: $color-wtf2;
		padding: 5px;
		@include float-left;
		margin: 2px;
		@include rounded(5px);
	
		.selected {
			background-color: $color-wtf3;
		}
		
		&:hover {
			background-color: $color-wtf3;
			cursor: pointer;
		}
	}

	H3 {
		font-size: $font-size - 2;
		font-weight: bold;
		text-align: left;
		color: $color-black;
		padding: 0 0 5px 2px;
	}

	A {
		text-decoration: none;
		color: $color-white;
	}
}

#products_divider {
	border-top: 1px solid $color-more-grey; 
	margin-top: 20px;
}

#view_more {
	text-align: center; 
	width: 60px;
	@include float-right;
	margin-top: 15px;
	font-weight: bold;
	padding: 3px; 
	background-color: $color-wtf12; 
	color: white; 
	@include rounded(3px);	
	text-decoration: none;
	color: $color-white;

	&:hover {
		background-color: $color-darkest-grey;
		cursor: pointer;
	}

	&:active {
		background-color: $color-black;
	}
}

DIV.title {
	color:$color-dark-grey;
	margin-bottom: 10px;
	margin-top: 10px;
}

.input_field {
	font-size: $font-size + 16;
	color: $color-dark-grey;
}

TABLE.gear_list {
	margin-left: 0;
	padding-left: 10px;
	width: 100%;
	border-top: 1px solid $color-wtf13;

	TD {
		width: 33%;
		color: $color-wtf14;
		padding: 8px;
	}

	NPUT {
		margin-right: 5px;
	}

	TR.even {
		background-color: $color-lighter-grey;
	}
}

SPAN.checkbox_select {
	font-size: $font-size - 2;
}

/* The style for the signup status section on the signup flow */

#signup_status {
	H3 {
		color: $color-wtf15;
		font-weight: bold;
		text-align: left;
	}

	DIV.items {
		margin: 5px 0 25px 0;

		SPAN {
			font-weight: bold;
			background-color: $color-wtf16;
			font-size: $font-size - 2;
			color: $color-wtf17;
			padding: 3px;
			@include float-left;
			margin: 3px;
			@include rounded(4px);	
		}
	}
}

/* See http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ for more footer info */
#root {
	margin: 0 auto;
	width: 985px;
}

#footer {
	background-color: $color-wtf18;
	
	text-align: center; 
	margin: 0 auto;

	#menu {
		@include inline-block-list-container;
		padding-top: 10px;
		
		LI {
			height: 100px;
			@include inline-block-list-item;		
			padding: 0 10px;
		
			.title {
				color: $color-wtf19;
				font-weight: bold;
				text-align: left;
			}			
		}
		
		.nav_border {
			border-right: 1px solid $color-more-grey;
		}
	}

	TABLE {
		width: 100%;

		TD {
			padding: 4px;
			color: white;
			font-size: $font-size - 2;
		}
	}

	DIV {
		text-align: left;
	}

	A {
		text-decoration: none;
		color: white;
		font-size: $font-size - 4;
		color: white;
	}

	.social_network_container {
		margin-top: 5px;
	
		A {
			color: $color-wtf26;
		}
	}
}

#header {
	height: 73px;	
	
	#header_content {
		/* small bar under the header */
		height: 71px; 
		border-bottom: 1px solid $color-wtf20;
		margin-top: 22px;

		#logo {
			margin-left: 5px;
			@include float-left;

			.logo_image {
				outline: none;
			}
		}
	}
}

#right_nav {
	@include float-right;
	
	vertical-align: bottom;

	.nav_section {
		@include float-left;
		margin-right: 10px;
	}

	.nav_button {
		padding: 28px 0 0;
	}

	A {
		text-decoration: none;
		background-color: $color-wtf21;
		padding: 5px 12px;
		margin-left: 15px;
		@include float-left;
		color: #feffef;
		border: 0;
		font-weight: bold;
		@include rounded(5px);
		font-size: $font-size - 2;

		&:hover { 
			background-color: $color-wtf22; 
			cursor: pointer;
		}
	}
	
	#fb_like {
		@include size-set(80px, 100px);
		border: none; 
		overflow: hidden; 
		color: $color-white;
	}

	#fb_profile_pic {
		border: 1px solid $color-dark-grey;
	}
	
	/* The facebook connect button in the header */
	.fb_button {
		padding: 0;
	}
}

#content {
	background-color: $color-wtf4;
	@include min-height(300);
}

#tabs {
	@include size-set(24px, 985px);
	margin-bottom: 10px;
	padding-top: 14px;
	background-color: $color-wtf5;
	color: $color-more-grey;
}

/* Style the submit button / cancel partial */
#submit_section {
	margin-top: 15px;
	font-size: $font-size - 2;
}

/* Style the recents product partial */
#recent_products {
	border: 1px solid $color-wtf6;
	padding: 5px 5px 5px 5px;
	width: 350px;
}

#recent_product {
	border: 1px solid $color-wtf6;
	font-size: 200px;
}

.product_image_container {
	@include float-left;
	width: 40px;
	margin-right: 5px;
	
	.img {
		@include size-set(40px, 40px);
	}
}

DIV.product_container {
	color: $color-more-grey;
	margin-bottom: 25px;
	width: 295px;
	@include float-left;

	.product_name {
		font-weight: bold; 
		margin-bottom: 5px;
	}
}

#product_spinner {
	width: 100%;
	text-align: center;
	margin-top: 25px;
}

#no_deals_found {
	text-align: center;
	font-weight: bold;
}

/* Modal window stuff */
.modal-window {
	background-color: $color-white;
	border: 2px solid $color-more-grey;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .5); /* FF3.5+ */
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5); /* Saf3.0+, Chrome */    
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5); /* Opera 10.5, IE 9.0 */
	filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='$color-dark-grey'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='$color-dark-grey')"; /* IE8 */

	.modal-content {
		left: 10px;
		top: 10px;
		position: absolute;
		padding: 5px;
	}

	.button {
		position: absolute;
		bottom: 10px;
		text-indent: -1000000px;
		outline: none;
		.ok {
			background-image: url(/images/ok.gif);
			@include size-set(12px, 40px);
			right: 10px;
		}
		
		.cancel {
			background-image: url(/images/cancel.gif);
			@include size-set(13px, 62px);
			right: 60px;
		}
	}
}

/* Login modal that appears on every page while not logged in */

#login_modal {
	@include size-set(235px, 600px);

	LABEL {
		display: block;
		font-size: $font-size - 2;
		font-weight: bold;
		margin-bottom: 3px;
	}

	.submit {
		margin: 5px 0;
	}

	.form_field INPUT {
		width: 200px;
		padding: 3px;
		font-size: $font-size + 2;
	}

	.button {
		ok {
			visibility: hidden;
		}

		.cancel {
			right: 10px;
		}
	}

	#get_started {
		margin-left: 50px;
		text-align: center;
		
		.submit {
			width: 100px;
			margin-top: 10px;
		}
	}
}

#login_modal_form H3 {
	font-size: $font-size + 2;
	color: $color-black;
	font-weight: bold;
	margin-bottom: 10px;
}

@import "users";
@import "sessions";
@import "misc";