@import "compass";
@import "compass/reset";
@import "compass/layout";

$color-black : #000;
$color-more-grey: #999;
$color-darkest-grey : #CCC;
$color-dark-grey : #666;
$color-lighter-grey : #EEE;
$color-white : #FFF;
$color-links: #EB5024;

$font-size: 12px;

/* block elements need to be reset */
html,body,p,div,img,h1,h2,h3,h4,dl,dd,dt,form,table,td,tr,form {
	font-weight: normal;
	font: $font-size verdana, arial, sans-serif;
	color: $color-dark-grey;
}

@mixin rounded($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

/* Set defaults back for lists */
ul, ol {
	list-style-position: outside;
	margin-left: 0; 
	padding-left: 2.5em;
}

/* li,ul,ol */

A {
	@include link-colors(#3ea1bf, #3ea1bf, #3ea1bf, #3ea1bf, #3ea1bf);
}

IMG {  
	border-style: none;
}

/* Global data table */
TABLE.data {	
	$table-color: #EEE;
	@include table-scaffolding;
    @include inner-table-borders(1px, darken($table-color, 40%));
    @include outer-table-borders(1px);
    @include alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), #222222);	
}

.hidden {
	display: none;
}

.clear {
	clear: both;
	font-size: 1px;
	overflow:hidden;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* end */

/* Generic notice messages */
#messages {
	margin: 10px 0;
	color: red; 

	#notice {
		color: green;
		font-size: $font-size + 4;
	}

	#error {
		color: red;
		font-size: $font-size + 4;
	}

	#js_error {
		color: red;
	}

	#js_msg {
		color: green;
		font-size: $font-size + 2;
		IMG {
			height: 12px;
		}
	}
}

/* end */


#grande_header {
	font-size: $font-size + 8;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}