#misc_invite_terms {

	UL {
		padding-left: 20px;

		LI {
			list-style-type: disc;
		}
	}

	OL LI {
		list-style-type: decimal;
	}

	LI {
		margin-bottom: 10px;
		padding-left: 5px;
	}
}

#misc_about {

	H2 {
		margin: 10px 0;
		font-weight: bold;
		font-size: $font-size + 2;
	}

	P {
		font-size: $font-size + 2;
		margin: 15px 0;
	}
}

#misc_privacy {
	H1 {
		margin-bottom: 20px;
	}

	H3 {
		margin-bottom: 10px;
		font-weight: bold;
	}

	UL {
		margin-bottom: 10px;
	}

	LI {
		list-style-type: disc;
		padding: 5px 0;
	}

	P {
		margin-bottom: 10px;
	}
}

#misc_faq {

	.faq_q {
		font-weight: bold;
		font-size: $font-size;
	}

	.faq_a {
		font-size: $font-size;
		margin: 10px 0 20px 10px;
	}
}