/* ??? */

#fp_pick_icon IMG {
	@include size-set(40px, 40px);
}

#fp_check_icon IMG {
	@include size-set(35px, 35px);
	padding: 0 2px;
}

#fp_mail_icon IMG {
	@include size-set(29px, 40px);
}

#fp_signup_form {
	padding: 10px; 
	background-color: $color-lighter-grey;
	/* changed from 620px width to fit 1024x768 */
	width: 580px;
	@include min-height(350px);
	border: 1px solid $color-wtf6;
	margin-left: 185px;
}

DIV.form_field {
	margin-top: 10px;

	LABEL {
		font-size: $font-size - 2;
		font-weight: bold;
		display: block;
		margin-bottom: 2px;
	}

	#email_address {
		font-size: $font-size + 6;
		padding: 3px;
		width: 300px;
	}

	#password, #confirm_password {
		font-size: $font-size + 6;
		padding: 3px;
		width: 300px;
	}

	.remember_me_container {
		margin-top: 10px;
	}
}

IMG.partner_logo {
	@include size-set(60px, 60px);
	margin-right: 15px;
}

SPAN.price_title {
	/* float the span so we can give it width */
	@include float-left;
	width: 100px;
}

/* end */

#signup_products {
	@include float-left;
	margin-left: 5px;
	width: 250px;
}

/* brands partial stuff */

#brands {

	.brand_letter {
		font-weight: bold; 
		font-size: $font-size + 4; 
		margin-bottom: 5px;
	}

	.brand_container {
		margin-bottom: 5px;
	}
}

/* end */

/* latest gear alert box style */
#latest_gear_alert_header {
	font-size: $font-size + 6;
	color: $color-dark-grey;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

/* end */

#users_new {
	background-color: $color-wtf4;
	background-repeat: repeat-x;
	background-image: url('/images/bg_repeat_984.jpg');
	height: 105%; /* I have no idea why this is happening.. Things don't look right unless this is set to 105 */

	#tabs {
		display: none;
		margin-bottom: 0px;
	}

	#common_search_text {
		display: none;
	}

	#about {
		text-align: center; 
		margin: 0 auto;
	}

	#about_gb {
		font-size: $font-size + 8; 
		font-weight: bold; 
		margin: 15px 0;
	}

	#products {
		@include inline-block-list-container;
		margin-top: 20px;
	
		.product {
			@include inline-block-list-item;
			margin-right: 10px;
			.image {
				height: 75px; 
				padding: 3px; 
				background-color: $color-white; 
				border: 1px solid $color-more-grey;
			}
			
			.name {
				font-size: $font-size - 2;
				margin: 3px 0; 
				font-weight: bold;
			}

			.price {
				color: $color-wtf25; 
				font-weight: bold;
				font-size: $font-size - 2;
			}
		}
	}

	#bg_img {
		@include size-set(283px, 986px);
	    background-image: url('/images/gb_home_blank_RGB_24.png');
		margin-bottom: 10px;
		padding-top: 10px;
	}

	#site_intro {
		margin-bottom: 10px;
		text-align: center; 
		font-size: $font-size + 8; 

		H1 {
			color: $color-white; 
			font-size: 40px; 
			font-weight: bold;
			margin-top: 30px;
		}

		#brand_name {
			font-size: 38px;
			font-weight: bold;
			margin: 20px 0;
		}
		
		#start_now {
			padding: 8px 34px;
			background-color: $color-wtf23;
			color: $color-white;
			border: none;
			font-size: 26px;
			font-weight: bold;
			@include rounded(8px);
		}
	}

	#register {
		@include size-set(35px, 138px);
		margin: 0 auto;
	}

	#register:hover {
		background-image: url('/images/signup_free_hover_btn.gif');	
	}
}

/* See http://wiki.recaptcha.net/index.php/How_to_change_reCAPTCHA_colors for styling the captcha */
.recaptchatable .recaptcha_image_cell, #recaptcha_table {
  background-color: $color-wtf10 !important; //reCaptcha widget background color
}

#users_signup {
	#recaptcha_container {
		margin: 10px 0 10px 0;
	}

	.unselected {
		color: $color-darkest-grey;
	}

	#submit_btns {
		margin-top: 15px;
	}
		
	#categories A {
		font-size: $font-size - 4;
	}

	.step {
		margin-bottom: 10px;
		padding: 5px 15px;
		border-bottom: 1px solid $color-wtf7;
		background-color: $color-wtf10;

		H3 {
			color: $color-wtf;
			font-size: $font-size + 2;
			font-weight: bold;	
		}
	}

	#email_address {
		font-size: $font-size + 2;
		padding: 2px;
		width: 250px;
	}

	DIV.items {
		margin: 15px 0px;

		H3 {
			margin-bottom: 5px;
			font-size: $font-size;
			color: $color-wtf22;
		}
	}

	#fb_submit {
		padding-top: 5px;
	}

	.gear_list LABEL {
		font-size: $font-size - 2;
	}
}

#users_show {

	H3 {
		margin-bottom: 10px; 
		border-bottom: 1px solid $color-dark-grey; 
	}

	.section_container {
		margin-bottom: 20px;
	}

	.account_status {
		font-size: $font-size + 4; 
		margin-bottom: 15px; 
		padding: 10px;	
		border: 1px solid $color-more-grey; 
		text-align: center;
	}

	#account_status_inactive {
		color: $color-red; 
	}

	#preferences {
		@include float-left;
		width: 425px;
	}

	/* Display the item name and a list of values */
	.item_group {
		margin-bottom: 20px;

		.item_title {
			padding-left: 10px;
			margin-bottom: 5px;
		}

		.clear {
			margin-bottom: 5px;
		}

		.data {
			margin-bottom: 10px;
			padding-left: 20px;
			width: 375px;
			font-size: $font-size - 2;
		}

		.items {
			margin-left: 10px;
		}

		SPAN.no_alerts {
			margin-left: 10px;
		}
	}

	LI {
		margin-bottom: 20px;
	}

	#invite_title {
		font-size: $font-size + 20;
		margin-bottom: 5px;
	}

	.title {
		margin-bottom: 10px;
	}

	#gift_card_container {
		margin-bottom: 20px;

		P {
			margin-bottom: 10px;
		}

		STRONG {
			color: orange;
		}
	}
}

#account_actions {
	@include float-left;
	margin-left: 10px;
	width: 475px;
}

/* end */ 

/* Lost password */
#users_lost_password {
	#submit_btns {
		margin-top: 10px;
	}
}

#users_signup_complete {
	H1 {
		font-size: $font-size + 14;
		font-weight: bold;
		margin-bottom: 20px;
	}

	H2 {
		margin-top: 15px;
		font-size: $font-size + 10;
		font-weight: normal;
	}

	H3 {
		margin: 10px 0px 0px 25px;
		font-size: $font-size + 2;
		font-weight: normal;
	}
}

/* Email preferences partial styling */
#email_preferences_partial {
	padding: 10;
	
	DIV {
		margin-bottom: 20px;
	}
}
/* end */

#users_manage_products {

	DIV.info {
		margin-bottom: 25px; 
	}

	DIV.section_title {
		font-size: $font-size + 4;
		font-weight: bold;
		margin-bottom: 10px;
	}

	#product_shit {
		display: none;
	}

	#products {
		width: 100%;
	}
}
/* end */

#friends_invite_friends {

	H2 {
		margin: 10px 0 25px;
	}

	H3 {
		margin-bottom: 10px;
		font-size: $font-size + 2;
		font-weight: bold;
	}

	#invited_friends {
		margin-top: 10px;
	}

	P {
		font-weight: normal;
		font-size: $font-size - 2;
		margin-bottom: 5px;
	}
	
	#services {
		margin-bottom: 5px;
		padding: 0;

		A {
			text-align: center;
			text-decoration: none;
			font-size: $font-size - 2;
			
			&:hover {
				color: $color-red;
			}			
		}
		
		A.selected {
			color: $color-dark-grey;
			text-decoration: none;
		}
		
	}

	LABEL {
		display: block;
		font-size: $font-size - 4;
		font-weight: bold;
	}

	#get_contacts_form TABLE TD {
		padding: 5px;
	}
	
	#username, #password {
		width: 300px;
	}

	#submit {
		margin-top: 5px;
	}

	INPUT.invite_hidden {
		padding: 2px;
		font-weight: bold;
		margin: 10px 0;
	}

	#friends_status {
		margin-left: 10px;
	}

	#friends {
		margin-top: 2px;
		width: 100%;
		border-collapse: collapse;
		border: 1px solid $color-more-grey;

		TD {
			padding: 3px;
			font-size: $font-size - 2;
		}
	
		.select {
			width: 10px;
		}

		.name {
			width: 150px;
		}
	
		.table-tr-odd {
			background-color: $color-darkest-grey;
		}
	}

	#spinner {
		height: 10px;
	}

	#friends_data {
		@include size-set(300px, 520px);
		overflow: auto;
	}

	#loading, #thanks {
		font-weight: bold;
	}

	/* Text areas for personal invites */
	.invite_textarea  {
		@include size-set(90px, 340px);
		padding: 5px;
	}

	#manual_invite P {
		margin-bottom: 5px;

		H3 {
			margin-bottom: 10px;
			border: none;
		}

		#manual_invite_submit {
			display: block;
			margin-top: 10px;
		}
	}

	#multi_select {
		margin-bottom: 5px;
		font-size: $font-size - 2;
	}

	/* Modal window stuff */
	#contact_select_modal {
		@include size-set(450px, 530px);
		padding: 5px;
	    background-color: $color-white;
    
	    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, .5); /* FF3.5+ */
	    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .5); /* Saf3.0+, Chrome */    
	    box-shadow: 0px 2px 4px rgba(0, 0, 0, .5); /* Opera 10.5, IE 9.0 */
	    filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='$color-dark-grey'); /* IE6,IE7 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='$color-dark-grey')"; /* IE8 */
	
		.model-content {
			@include size-set(500px, 530px);
		    left: 10px;
		    top: 10px;
		    position: absolute;
		}

		.button {
		    position: absolute;
		    bottom: 10px;
		    text-indent: 0;
		    outline: none;
		}		
	}
	
	.show_message {
		display: block;
		margin: 5px 0;
		font-size: $font-size - 2;
	}
}

#users_gear_bin {

	#filter {
		width: 175px;
	
		H3 {
			border-bottom: 1px solid $color-more-grey;
			padding-bottom: 2px;
			margin-bottom: 5px;
			font-weight: bold;
			font-size: $font-size - 2;
		}

		UL {
			margin-left: 10px;
			padding: 0;
		}

		LI {
			padding: 3px 0;
		}
	}

	#data {
		width: 750px;
		padding-left: 10px;
	}

	H1 {
		margin-bottom: 15px;
	}

	H2 {
		padding-bottom: 2px;
		border-bottom: 1px solid $color-more-grey;
		font-weight: bold;
	}

	#products_container {
		padding: 10px 0 0 0;
	}
	
	.fresh {
		border: 1px solid $color-red;
	}

	.products_row {
		margin-bottom: 20px;
		padding-top: 5px;
	}

	.product {
		width: 170px;
		margin-right: 5px;
		@include float-left;
		text-align: center;
		padding: 5px;
	
		.image {
			background-color: $color-white;
			margin-bottom: 3px;
			border: 2px solid $color-darkest-grey;
			text-align: center;
			padding: 3px;
			width: 100px;
			margin-left: auto;
			margin-right: auto;
		}

		IMG {
			@include size-set(75px, 75px);
		}

		.name {
			font-size: $font-size - 2;
			float: none;
			height: 35px;
		}

		.retail {
			font-size: $font-size - 2;
			color: $color-more-grey;
			margin-bottom: 3px;
		}

		.sale {
			font-weight: bold;
			float: none;
			font-size: $font-size - 2;
			color: $color-wtf24;
		}

		.discount {
			font-weight: bold;	
		}
	}

	.no_matches {
		padding-left: 10px;
	}

	.filter_section {
		margin-bottom: 15px;
	}

	.item_label {
		margin-left: 3px;
		width: 130px;
	}

	LABEL {
		font-size: $font-size - 2;
		text-decoration: underline;
	
		&:hover {
			text-decoration: none;
		}
	}

	.overflow {
		overflow: auto;
		height: 175px;
	}

	.toggle {
		font-size: $font-size - 2;
	}

	#see_more {
		font-size: $font-size - 2;
	}
}

#users_account_preferences {
	
	P {
		margin: 10px 0;
	}

	.text_field {
		padding: 5px;
		font-size: $font-size + 2;
		width: 400px;
	}

	TABLE TD {
		padding: 5px;
	}

	.price_field {
		padding: 3px;
		font-size: $font-size + 2;
		width: 75px;
	}

	#email_day_preferences {
		@include mp-set(0);

		LI {
			@include float-left;
			margin-right: 10px;
		}
	}
}

#users_take_a_breather {
	text-align: center;

	.welcome_back {
		border: 1px solid $color-more-grey;
		color: $color-green;
		padding: 10px;
		margin-bottom: 15px;
	}

	H2 {
		margin: 10px 0;
	}

	H3 {
		margin-bottom: 10px;
		font-size: $font-size + 2;
	}

	#submit_button {
		margin: 10px 0 0;
	}
}

#users_deactivate_account {

	H2 {
		font-size: $font-size;
		margin-bottom: 10px;
	}
	
	H3 {
		font-size: $font-size - 2;
		margin-bottom: 3px;
	}

	.dont_go_container {
	
		padding: 10px;
		border: 1px solid $color-more-grey;
		margin-bottom: 20px;
	
		H3 { font-weight: bold; }
	}

	#email { width: 250px; }

	#email_day_preferences {
		
		@include mp-set(0);
			
		LI {
			@include float-left;
			margin-right: 10px;
		}
	}
}

#users_gearguide {

	H2 {
		font-size: $font-size + 2;
		margin: 10px 0 20px;
	}
	
	.friend_row { margin-bottom: 30px; }

	.friend_container {
		width: 310px;
		margin-right: 10px;
		@include float-left;

		.friend_info {
			margin-left: 3px;
			width: 225px;
		}

		.friend_image_container {
			width: 80px;	
		
			IMG {
				@include size-set(75px, 75px);
			}
		
			.friend_info {
			
				.name {
					font-size: $font-size + 2;
					font-weight: bold;
					margin: 0;
				}
				
				.description {
					font-size: $font-size - 2;
					margin: 5px 0;
				}
				
				.url { font-size: $font-size - 2; }
			}
		}
	}
}