@import "application";

/* Common stuff */
.terms {
	font-size: $font-size - 2;
}

.half {
	width: 50%;
}

.orange {
	font-weight: bold;
	color: $color-orange;
}
/* end */

#users_new {
	/* This code here styles the body element only on the home page */
	background-color: $color-wtf4;
	background-repeat: repeat-x;
	background-image: url('/images/bg_repeat_984.jpg');
	height: 105%; /* I have no idea why this is happening.. Things don't look right unless this is set to 105 */

	#tabs {
		display: none;
		margin-bottom: 0px;
	}

	#common_search_text {
		display: none;
	}

	#about {
		text-align: center; 
		margin: 0 auto;
	}

	#about_gb {
		font-size: $font-size + 8; 
		font-weight: bold; 
		margin: 3px 0;
	}

	#products {
		@include inline-block-list-container;
		margin-top: 10px;
	
		.product {
			@include inline-block-list-item;
			margin-right: 10px;
			.image {
				height: 75px; 
				padding: 3px; 
				background-color: $color-white; 
				border: 1px solid $color-more-grey;
			}
			.name {
				font-size: $font-size; 
				margin: 3px 0; 
				font-weight: bold;
			}

			.price {
				font-size: $font-size; 
				color: #090; 
				font-weight: bold;
			}
		}
	}

	#bg_img {
		@include size-set(283px, 986px);
		padding-top: 10px;
	    background-image: url('/images/gb_home_blank_RGB_24.png');
		margin-bottom: 10px;
	}

	#site_intro {
		margin: 0px 0 10px 0;
		text-align: center; 
		font-size: $font-size + 8; 
	}

	H1 {
		color: $color-white; 
		font-size: 40px; 
		padding: 0;
		font-weight: bold;
		margin-top: 20px;
	}

	#brand_name {
		font-size: 38px;
		font-weight: bold;
		margin: 20px 0;
	}

	#register {
		@include size-set(35px, 138px);
		margin: 0 auto;
	}

	#start_now {
		padding: 8px 34px;
		background-color: $color-wtf23;
		color: $color-white;
		border: none;
		font-size: 26px;
		font-weight: bold;
		@include rounded(8px);
	}

	#register:hover {
		background-image: url('/images/signup_free_hover_btn.gif');	
	}
}

#fp_pick_icon IMG {
	@include size-set(40px, 40px);
}

#fp_check_icon IMG {
	@include size-set(35px, 35px);
	padding: 0 2px;
}

#fp_mail_icon IMG {
	@include size-set(29px, 40px);
}

#fp_signup_form {
	padding: 10px; 
	background-color: $color-lighter-grey;
	/* changed from 620px width to fit 1024x768 */
	width: 580px;
	@include min-height(350px);
	border: 1px solid $color-wtf6;
	margin-left: 185px;
}

/* end */

/* users_signup */

.recaptchatable .recaptcha_image_cell, #recaptcha_table {
  background-color: $color-wtf10 !important; //reCaptcha widget background color
}

/* See http://wiki.recaptcha.net/index.php/How_to_change_reCAPTCHA_colors for styling the captcha */
#users_signup {
	#recaptcha_container {
		margin: 10px 0 10px 0;
	}

	#manual_signup_form INPUT {
		width: 250px;
		font-size: $font-size + 2;
		padding: 3px;
	}

	#title {
		color: $color-orange;
		font-size: $font-size + 6;
	}

	.unselected {
		color: $color-darkest-grey;
	}

	#submit_btns {
		margin-top: 15px;
	}

	.step {
		font-size: $font-size + 4;
		margin-bottom: 10px;
		padding: 5px 15px;
		border-bottom: 1px solid $color-wtf7;
		background-color: $color-wtf10;

		H3 {
			color: $color-wtf;
			font-size: $font-size + 6;
			font-weight: bold;
			@include mp-set(0);
			text-align: left;
		}

		P {
			color: $color-wtf;
			font-size: $font-size + 2;
		}

	}

	#email_address {
		font-size: $font-size + 2;
		padding: 2px;
		width: 250px;
	}

	DIV.items {
		margin: 15px 0px 15px 0px;

		H3 {
			margin-bottom: 5px;
			padding: 0;
			font-size: $font-size + 8;
			color: $color-wtf22;
		}
	}

	#fb_submit {
		padding-top: 5px;
	}

	.gear_list LABEL {
		font-size: $font-size - 2;
	}
}
/* end */

/* General login stuff */
DIV.form_field {
	margin-top: 10px;

	LABEL {
		font-size: $font-size - 2;
		font-weight: bold;
		display: block;
		margin-bottom: 2px;
	}

	#email_address {
		font-size: $font-size + 10;
		padding: 3px;
		width: 350px;
	}

	#password {
		font-size: 22px;
		padding: 3px;
		width: 350px;
	}

	.remember_me_container {
		font-size: 12px;
		margin-top: 10px;
	}

	#confirm_password {
		font-size: 22px;	
	}
}

IMG.partner_logo {
	@include size-set(60px, 60px);
	margin-right: 15px;
}

SPAN.price_title {
	/* float the span so we can give it width */
	@include float-left;
	width: 100px;
}

/* Generic page title */
H1#page_title {
	font-size: 26px;
	color: $color-black;
	margin-bottom: 10px;
	margin-top: 10px;
}
/* end */

#signup_products {
	@include float-left;
	margin-left: 5px;
	width: 250px;
}

/* Invite terms */

#misc_invite_terms {

	H1 {
		margin-bottom: 15px;
	}

	UL {
		margin: 0;
		padding-left: 20px;

		LI {
			list-style-type: disc;
		}
	}

	OL LI {
		list-style-type: decimal;
	}

	LI {
		margin-bottom: 10px;
		padding-left: 5px;
		font-size: $font-size;
	}
}
/* end */

/* About us page */
#misc_about {

	H1 {
		padding: 0; 
		margin-bottom: 20px; 
		font-size: $font-size + 10;
		font-weight: bold;
	}

	H2 {
		padding: 0;
		margin: 10px 0;
		font-weight: bold;
		font-size: $font-size + 2;
	}

	P {
		font-size: $font-size + 2;
		margin: 15px 0;
	}
}
/* end */

/* Privacy */

#misc_privacy {
	H1 {
		margin-bottom: 20px;
		padding: 0;
	}

	H3 {
		margin-bottom: 10px;
		padding: 0;
		font-weight: bold;
	}

	UL {
		margin: 0 0 10px;
	}

	LI {
		list-style-type: disc;
		padding: 5px 0;
	}

	P {
		margin-bottom: 10px;
	}
}
/* end */

/* FAQ */

#misc_faq {
	H1 {
		padding: 0;
		margin-bottom: 20px;
	}

	.faq_q {
		font-size: $font-size + 4;
		font-weight: bold;
	}

	.faq_a {
		font-size: $font-size;
		margin: 10px 0 20px 10px;
	}
}
/* end */

/* brands partial stuff */

#brands {

	.brand_letter {
		font-weight: bold; 
		font-size: $font-size + 4; 
		margin-bottom: 5px;
	}

	.brand_container {
		margin-bottom: 5px;
	}
}

/* end */

/* latest gear alert box style */
#latest_gear_alert_header {
	font-size: $font-size + 6;
	color: $color-dark-grey;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

/* User home page */
#users_show {

	.section_container H3 {
		margin-bottom: 5px; 
		border-bottom: 1px solid $color-dark-grey; 
		font-size: $font-size + 4;
		margin-bottom: 15px;
		padding: 0;
	}

	.section_container {
		margin-bottom: 20px;
	}

	.account_status {
		font-size: 16px; 
		margin-bottom: 15px; 
		border: 1px solid $color-more-grey; 
		padding: 10px;	
		text-align: center;
	}

	#account_status_inactive {
		color: $color-red; 
	}

	#preferences {
		@include float-left;
		width: 425px;
	}

	/* Display the item name and a list of values */
	.item_group {
		margin-bottom: 20px;

		.item_title {
			font-size: $font-size + 3;
			padding-left: 10px;
			margin-bottom: 3px;
		}

		.clear {
			margin-bottom: 5px;
		}

		.data {
			margin-bottom: 10px;
			padding-left: 20px;
			width: 375px;
		}

		.items {
			font-size: $font-size;
			margin-left: 10px;
		}

		SPAN.no_alerts {
			font-size: $font-size;
			margin-left: 10px;
		}
	}

	UL {
		@include mp-set(0);
	}

	LI {
		margin-bottom: 20px;
	}

	#invite_title {
		font-size: $font-size + 20;
		margin-bottom: 5px;
	}

	.title {
		margin-bottom: 10px;
		padding: 0;
		font-weight: bold;
		font-size: $font-size + 2;
	}

	#gift_card_container {
		margin-bottom: 20px;

		P {
			margin-bottom: 10px;
		}

		STRONG {
			color: orange;
		}
	}
}

#account_actions {
	@include float-left;
	margin-left: 10px;
	width: 475px;
}

/* end */ 

/* Login page */
#sessions_new {
	H1 {
		font-size: $font-size + 10;
		margin-bottom: 10px;
		padding: 10px;
		text-align: center;
		background-color: $color-wtf10;
		border-bottom: 1px solid $color-wtf7;
		color: $color-wtf;
		font-weight: bold;
	}

	#submit_btns {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#submit_btns {
		margin-top: 10px;
		margin-bottom: 10px;	
	}

	DIV.login_container {
		padding: 10px;
		width: 425px;
	}

	#create_account_btn_container {
		width: 100%; 
		text-align: center; 
		margin-top: 25px;
		height: 150px;
	
		INPUT {
			margin-top: 5px;
			width: 100px;
		}

		P {	
			margin-bottom: 20px;
			font-size: $font-size + 4;
		}
	}
}
/* end */

/* Login page */
#sessions_create H1 {
	font-size: $font-size + 10;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	background-color: $color-wtf10;
	border-bottom: 1px solid $color-wtf7;
	color: $color-wtf;
	font-weight: bold;
}

#sessions_create #submit_btns {
	margin-top: 10px;
}

#sessions_create #submit_btns {
	margin-top: 10px;
}

#sessions_create DIV.login_container {
	padding: 10px;
	width: 425px;
}

#sessions_create #create_account_btn_container {
	width: 100%; 
	text-align: center; 
	margin-top: 25px;
	height: 150px;
}

#sessions_create #create_account_btn_container INPUT {
	margin-top: 5px;
	width: 100px;
}

#sessions_create #create_account_btn_container P {	
	margin-bottom: 20px;
	font-size: $font-size + 4;
}
/* end */

/* Lost password */
#users_lost_password #submit_btns {
	margin-top: 10px;
}
/* end */

/* User signup complete page */
#users_signup_complete H1 {
	font-size: $font-size + 14;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 0;
}

#users_signup_complete H2 {
	margin-top: 15px;
	font-size: $font-size + 10;
	font-weight: normal;
}

#users_signup_complete H3 {
	margin: 10px 0px 0px 25px;
	font-size: 14px;
	padding: 0;
	font-weight: normal;
}

/* Email preferences partial styling */
#email_preferences_partial {
	padding: 10;
}

#email_preferences_partial DIV {
	margin-bottom: 20px;
}

/* end */

/* managed products */

#users_manage_products DIV.info {
	margin-bottom: 25px; 
}

#users_manage_products DIV.section_title {
	font-size: $font-size + 4;
	font-weight: bold;
	margin-bottom: 10px;
}

#users_manage_products #product_shit {
	display: none;
}

#users_manage_products #products {
	width: 100%;
}

/* end */

/* HTML sitemap */

#users_sitemap {}

#users_sitemap #base_urls {
	margin: 10px 0;
}

#users_sitemap #base_urls LI {
	margin-bottom: 2px;
}

/* end */

#friends_invite_friends H1 {
	margin-bottom: 15px;
	padding: 0;
	font-size: $font-size + 10;
}

#friends_invite_friends H2 {
	margin: 10px 0 20px;
	padding: 0;
	font-size: $font-size;
}

#friends_invite_friends H3 {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: $font-size + 2;
	font-weight: bold;
}

#friends_invite_friends #invited_friends {
	margin-top: 10px;
}
	
#friends_invite_friends #services {
	margin-bottom: 5px;
	padding: 0;
	font-size: 12px;
}

#friends_invite_friends #services A {
	text-align: center;
	text-decoration: none;
}

#friends_invite_friends #services A:hover {
	color: $color-red;
}
	
#friends_invite_friends #services A.selected {
	color: black;
	text-decoration: none;
}

#friends_invite_friends LABEL {
	display: block;
	font-size: 10px;
	font-weight: bold;
}

#friends_invite_friends #get_contacts_form TABLE TD {
	padding: 5px;
}

#friends_invite_friends #username {
	font-size: 16px;
	padding: 3px;
}

#friends_invite_friends #password {
	font-size: 16px;
	padding: 3px;
}

#friends_invite_friends #submit {
	font-size: 16px;
	padding: 3px;
}

#friends_invite_friends #manual_invite_submit {
	font-size: 16px;
	padding: 3px;
}

INPUT.invite_hidden {
	font-size: 12px;
	padding: 2px;
	font-weight: bold;
}

#friends_invite_friends INPUT.invite_hidden {
	margin: 10px 0;
}

#friends_invite_friends #submit {
	margin: 5px 0 0 0;
}

#friends_invite_friends #username, #friends_invite_friends #password {
	width: 300px;
}

#friends_invite_friends #friends_status {
	margin-left: 10px;
}

#friends_invite_friends #friends {
	margin-top: 2px;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid $color-more-grey;
}

#friends_invite_friends #friends TD {
	padding: 3px;
}

#friends_invite_friends #friends .select {
	width: 10px;
}

#friends_invite_friends #friends .name {
	width: 150px;
}
	
#friends_invite_friends #friends .table-tr-odd {
	background-color: $color-darkest-grey;
}

#friends_invite_friends #spinner {
	height: 10px;
}

#friends_invite_friends #friends_data {
	@include size-set(300PX, 550px);
	overflow: auto;
}

#friends_invite_friends #friends_container {
	margin-top: 5px;
}

#friends_invite_friends #loading, #thanks {
	font-weight: bold;
}

/* Text areas for personal invites */
#friends_invite_friends .invite_textarea  {
	@include size-set(90px, 340px);
	padding: 5px;
	font-size: 12px;
}

#friends_invite_friends #manual_invite P {
	font-size: 12px;
	margin-bottom: 5px;
}

#friends_invite_friends #manual_invite H3 {
	font-size: 12px; 
	padding: 0;
	margin-bottom: 10px;
	border: none;
}

#friends_invite_friends #manual_invite #manual_invite_submit {
	display: block;
	margin-top: 10px;
}

#friends_invite_friends #multi_select {
	margin-bottom: 5px;
}

/* Modal window stuff */
#friends_invite_friends #contact_select_modal {
	@include size-set(450px, 550px);
	padding: 5px;
    background-color: $color-white;
    
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, .5); /* FF3.5+ */
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .5); /* Saf3.0+, Chrome */    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .5); /* Opera 10.5, IE 9.0 */
    filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='$color-dark-grey'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='$color-dark-grey')"; /* IE8 */
}

#frends_invite_friends #contact_select_modal .model-content {
	@include size-set(450px, 550px);
    left: 10px;
    top: 10px;
    position: absolute;
}

#contact_select_modal .button {
    position: absolute;
    bottom: 10px;
    text-indent: -1000000px;
    outline: none;
}

#contact_select_modal .button.ok {
    background-image: url(/images/ok.gif);
	@include size-set(12px, 40px);
    right: 10px;
}

#contact_select_modal .button.cancel {
    background-image: url(/images/cancel.gif);
	@include size-set(13px, 62px);	
    right: 60px;
}

#friends_invite_friends STRONG {
	color: inherit;
	font-weight: bold;
}

#friends_invite_friends .show_message {
	display: block;
	margin: 5px 0;
	font-size: 10px;
}

/* users sales spot */
#users_gear_bin {

	#filter {
		width: 175px;
	
		H3 {
			font-size: 12px;
			border-bottom: 1px solid $color-more-grey;
			padding-bottom: 2px;
			margin-bottom: 5px;
			font-weight: bold;
		}

		UL {
			margin-left: 10px;
			padding: 0;
		}

		LI {
			font-size: 12px;
			padding: 3px 0;
		}
	}

	#data {
		width: 750px;
		padding-left: 10px;
	}

	H1 {
		margin-bottom: 15px;
		padding: 0;
	}

	H2 {
		margin: 0;
		padding-bottom: 2px;
		font-size: 12px;
		border-bottom: 1px solid $color-more-grey;
		font-weight: bold;
	}

	#products_container {
		padding: 10px 0 0 0;
	}
	
	.fresh {
		border: 1px solid $color-red;
	}

	.products_row {
		font-size: 12px;
		margin: 0 0 20px 0;
		padding: 5px 0 0 0;
	}

	.product {
		width: 170px;
		margin-right: 5px;
		@include float-left;
		text-align: center;
		padding: 5px;
	
		.image {
			background-color: $color-white;
			margin-bottom: 3px;
			border: 2px solid $color-darkest-grey;
			text-align: center;
			padding: 3px;
			width: 100px;
			margin-left: auto;
			margin-right: auto;
		}

		IMG {
			@include size-set(75px, 75px);
		}

		.name {
			font-size: 10px;
			float: none;
			height: 35px;
		}

		.retail {
			font-size: 10px;
			color: $color-more-grey;
			margin-bottom: 3px;
		}

		.sale {
			font-size: 12px;
			font-weight: bold;
			float: none;
			color: $color-wtf24;
		}

		.discount {
			font-size: 12px;
			font-weight: bold;	
		}
	}

	.no_matches {
		padding-left: 10px;
		font-size: 12px;
	}

	.filter_section {
		margin: 0 0 15px 0;
	}

	.item_label {
		margin: 0 0 0 3px;
		width: 130px;
	}

	LABEL {
		font-size: 10px;
		text-decoration: underline;
	
		&:hover {
			text-decoration: none;
		}
	}

	.overflow {
		overflow: auto;
		height: 175px;
	}

	.toggle {
		font-size: 10px;
	}

	#see_more {
		font-size: 10px;
	}
}

/* Change email */

#users_account_preferences {
	H1 {
		@include mp-set(0);
	}

	P {
		margin: 10px 0;
	}

	.text_field {
		padding: 5px;
		font-size: 14px;
		width: 400px;
	}

	TABLE TD {
		padding: 5px;
	}

	.price_field {
		padding: 3px;
		font-size: 14px;
		width: 75px;
	}

	#email_day_preferences {
		@include mp-set(0);

		LI {
			@include float-left;
			font-size: 12px;
			margin-right: 10px;
		}
	}
}

/* Take a breather */
#users_take_a_breather {
	text-align: center;

	.welcome_back {
		border: 1px solid $color-more-grey;
		color: $color-green;
		padding: 10px;
		margin: 0 0 15px;
	}

	H2 {
		margin: 10px 0;
	}

	H3 {
		margin-bottom: 10px;
		padding: 0;
		font-size: 14px;
	}

	#submit_button {
		margin: 10px 0 0;
	}

	#submit_button INPUT {
		padding: 5px;
		font-size: 16px;
	}
}

/* Deactivate page */
#users_deactivate_account {
	H1 {
		margin-bottom: 10px;
		padding: 0;
	}

	H3 {
		font-size: 14px;
		margin-bottom: 10px;
		padding: 0;
	}

	.dont_go_container {
	
		padding: 10px;
		border: 1px solid $color-more-grey;
		margin: 0 0 20px;
	
		H3 { font-weight: bold; }

		INPUT {
			font-size: 14px;
			padding: 5px;
		}
	}

	#email { width: 250px; }

	#email_day_preferences {
		
		@include mp-set(0);
			
		LI {
			@include float-left;
			font-size: 12px;
			margin-right: 10px;
		}
	}
}
/* Blog roll */
#users_gearguide {

	H1 {
		font-size: 20px;
		@include mp-set(0);
	}

	H2 {
		font-size: 14px;
		margin: 10px 0 20px;
		padding: 0;
	}
	
	.friend_row { margin-bottom: 30px; }

	.friend_container {
		width: 310px;
		margin-right: 10px;
		@include float-left;

		.friend_info {
			margin-left: 3px;
			width: 225px;
		}

		.friend_image_container {
			width: 80px;	
		
			IMG {
				@include size-set(75px, 75px);
			}
		
			.friend_info {
			
				.name {
					font-size: 14px;
					font-weight: bold;
					margin: 0;
				}
				
				.description {
					font-size: 10px;
					margin: 5px 0;
				}
				
				.url { font-size: 10px; }
			}
		}
	}
}