<h1 id="page_header">
	Gear Burger: Free, trusted, online shopping service that finds you personalized 
	sales on your favorite gear brands when they go on sale.
</h1>

<h2>The Service:</h2>

<p>Gear Burger monitors more than <%= @brands %> brands for amazing sales. You tell us which brands and categories you're interested in, and we'll find you the best prices on the gear you love.</p>

<h2>The Story:</h2>

<p>
	Gear Burger was started in 2009 by <a href="http://twitter.com/artfuld0dg3r" target="_blank">Chad</a> 
	and <a href="http://twitter.com/rwebb" target="_blank">Rob</a> in an effort to find great gear. 
	We set out to create a product that delivers incredible deals on gear while 
	you relax on your couch.
</p>

<h2>Other:</h2>

<p>If you have any questions about how our service works, please visit our <a href="http://gearburger.com/faq">FAQ</a>.</p>

<p>If you would like non-immediate help from people, please check our <a href="http://getsatisfaction.com/gear_burger" target="_blank">support forum</a>.</p>

<p>
	If you would like to contact us for any other reason, feel free to <%= mail_to "info@gearburger.com", "email us", :encode => "javascript" %>. We respond to our customer support forum promptly and to email when we can.
</p>

<p>
	Gear Burger is social!
	<img src="/images/twitter.png" alt="Follow us on Twitter"/>
	 <a href="http://twitter.com/gearburger">Twitter</a>
	 <img src="/images/facebook.png" alt="Become a fan on Facebook"/>
	  <%= link_to "Facebook", "http://www.facebook.com/pages/Gear-Burger/127166921453" %>
</p>