<h1 id="page_header">Invite Terms</h1>

<ul>
	<li>Valid sign ups only: In order for a friend to count as referred, he or she must be invited to and register for the Gear Burger free service between April 24, 2008 and July 31, 2010. Each friend that registers using the "invite" functionality link provided counts toward the entrants' grand total. There is a limit of 1000 friends that can be invited.</li>
	
	<li>No fake submissions or SPAM: Gear Burger has, at its discretion, the right to disqualify any individual who tampers with the entry process or any entry where referrals are acquired in a "dubious manner" or are not considered to be real. A "dubious manner" includes but is not limited to the following</li>
	
    <ol>
		<li>Sending unsolicited emails to strangers or people you do not know. Any SPAM complaints will result in immediate disqualification and removal from the Gear Burger service.</li>
     	<li>Using temporary, fake, or unused email addresses as "referred" friends.</li>
     	<li>Using any email account which is less than 20 days old.</li>
     	<li>Using the phrase "Gear Burger" or any variant in any type of paid or search advertising.</li>
    	<li>Having the same individual sign up multiple times with different email addresses.</li>
	</ol>
	
	<li>Prize: Within 30 days of 10 friends registering for Gear Burger with the specified link, all eligible Gear Burger users will be contacted to obtain their mailing address. Those who qualify will be notified via email. Gift cards are not redeemable for cash. Terms and conditions of gift cards apply.</li>
	
	<li>US residents only. This promotion is open only to legal residents of the 50 United States and Washington, D.C., who are 18 years of age or older as of April 24, 2008. Void outside the 50 United States and D.C., and where prohibited by law. All federal, state and local income taxes on prize are the sole responsibility of the winner.</li>
	
	<li>Gear Burger is not responsible for any typographical or other errors in the publication of the promotion, administration of the promotion or in the announcement of the winners.</li>
	
	<li>By participating, winner releases Gear Burger and its affiliates, and their respective directors, officers, agents, and employees, from any and all liability with respect to all aspects of the promotion and/or use of any prize. Winner further agrees to the use of his/her name, and city and state of residence for purposes of providing a list of winners to the public on request and for advertising and promotional purposes without further compensation, unless prohibited by law.</li>

	<li>Gear Burger reserves the right, in its sole discretion to cancel, modify or suspend this promotion, should fraud, virus, bugs or other causes beyond the control of Gear Burger corrupt the administration of the promotion.</li>

	<li>Gear Burger is not responsible for computer system, phone line, hardware, software or program malfunctions, or other errors, failures or delays in computer transmissions or network connections that are human or technical in nature.</li>