<h1 id="page_header">Gear Burger Privacy Policy</h1>

<h3>Information we collect</h3>

<ul>
	<li>
		Gear Burger may collect personally information during the registration process, 
		including name and email address.
	</li> 
	<li>
		Gear Burger may collect user preference information (such as items clicked from emails), 
		to be used for internal research purposes.
	</li>
	<li>
		Information Gear Burger collects may be aggregated across all users in order to 
		determine and target demographics for marketing and advertising purposes.
	</li>
	<li>
		All user information stored by Gear Burger is considered confidential and will not be 
		shared with outside parties.
	</li>
</ul>

<h3>Third Parties</h3>

<p>
	All links provided in Gear Burger deal emails contain links to third-party retailers. 
	These retailers all have their own privacy policies and are available on their website.
</p>

<h3>Privacy Policy Changes</h3>

<p>
	Gear Burger reserves the right to change this policy at any time by notifying users on 
	gearburger.com or by email
</p>