<h1>Invited Users</h1>

<%= link_to "Back", admin_user_url(@user) %>

<h3>Invited Users</h3>
<table class="data" style="width: 100%;">	
	<% if @users.length > 0 %>
		<tr>
			<th>Email</th>
			<th>State</th>
			<th>Created</th>
		</tr>
		<% for user in @users %>
		<tr>
			<td><%= link_to user.email, admin_user_url(user) %></td>
			<td><%= user.state %></td>
			<td><%= user.created_at %></td>
		</tr>
		<% end %>
	<% else %>
		<tr><td>No users found</td></tr>
	<% end %>
</table>